 /* works */

h2 {
  margin-top: 1rem;
}

h3 {
  font-size: 3vw;
}

p {
  font-size: 2.8vw;
}

.work {
  margin-top: 3rem;
}

.work img {
  width: 100%;
  height: auto;
}

.work a {
  transition: .2s;
}

.work a:hover {
  opacity: 0.7;
}

/* detail page */

.description {
  margin-top: 8px;
}

.detail {
  text-align: center;
}

.description {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .work-container {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    }
  
  .work img {
    width: 47vw;
    z-index: 1;
  } 

  h3 {
    font-size: min(2.25vw, 24px);
  }

  p {
    font-size: min(2vw, 21.5px);
  }

  /* detail page */

  .work {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
  }
  
  .detail-img {
    width: 60vw !important;
  }
}